* text=auto

# Ensure all lua files use LF
*.lua  eol=lf
*.luau eol=lf

# Ensure all txt files within tests use LF
tests/**/*.txt eol=lf

# Remove test c and typescript from language list
tests/ffi/**/*.c linguist-vendored
tests/ffi/**/*.ts linguist-vendored
