* text=auto

# Temporarily highlight luau as normal lua files
# until we get native linguist support for Luau
*.luau linguist-language=Lua

# Ensure all lua files use LF
*.lua  eol=lf
*.luau eol=lf

# Ensure all txt files within tests use LF
tests/*.txt eol=lf
